html{
    margin: 0 auto;
    font-family: Arial;
}

body{
    margin: 0 auto;  
    max-width: 70%;
}
.pg-container{
    margin:auto;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 66%;
    background-color:pink;
}

#cursor{
  font-size: 30px;
}

h1{
    text-align: center;
}
.calculator{
    background-color: #C1E2F5;
    margin: auto;
    position: relative;
    top: 15em;
    border: 5px solid;
    height: 28em;
    width: 25em;
}

.screen {
    border: 3px solid;
    background-color: #000000;
    color: white;
    position: relative;
    top: 3em;
    left: 5em;
    height: 4em;
    width: 15em;
}

/* Buttons */
.container{
    display: inline-grid;
    position: relative;
    top: 5em;
    grid-template-columns: repeat(4, 5em);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.button{
    border: 3px solid #8C87A1;
    background-color: #C7C3FD
}

.playing{
    background-color: #564DD4;
    color: white;

}



